---
name: "HAOS Kiosk Display"
description: |
  Start X server and browser on local HAOS server and display dashboards in
  kiosk mode (Jeff Kosowsky)
version: "1.3.0"
slug: "haoskiosk"

arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386

startup: application
host_network: true
init: false
ingress: true
homeassistant_api: true
auth_api: true
audio: true
usb: true

ulimits:
  nofile:
    soft: 65536
    hard: 65536

devices:
  - /dev/dri/card0
  - /dev/dri/card1
  - /dev/dri/renderD128

  - /dev/input/event0
  - /dev/input/event1
  - /dev/input/event2
  - /dev/input/event3
  - /dev/input/event4
  - /dev/input/event5
  - /dev/input/event6
  - /dev/input/event7
  - /dev/input/event8
  - /dev/input/event9
  - /dev/input/event10
  - /dev/input/event11
  - /dev/input/event12
  - /dev/input/event13
  - /dev/input/event14
  - /dev/input/event15
  - /dev/input/event16
  - /dev/input/event17
  - /dev/input/event18
  - /dev/input/event19
  - /dev/input/event20
  - /dev/input/event21
  - /dev/input/event22
  - /dev/input/event23
  - /dev/input/event24
  - /dev/input/event25

map:
  - addon_config:rw
  - media:rw

privileged:
  - SYS_ADMIN

options:
  ha_url: "http://localhost:8123"
  ha_dashboard: ""
  login_delay: 1.0
  zoom_level: 100
  browser_refresh: 600
  screen_timeout: 0
  output_number: 1
  dark_mode: true
  ha_theme: ""
  ha_sidebar: "none"
  rotate_display: "normal"
  map_touch_inputs: true
  keyboard_layout: us
  cursor_timeout: 5
  onscreen_keyboard: true
  save_onscreen_config: true
  xorg_conf: ""
  xorg_append_replace: "append"
  audio_sink: "auto"
  rest_ip: "127.0.0.1"
  rest_port: 8080
  rest_bearer_token: ""
  gestures:
    - '"1_ANY_1_CORNER_TOPRIGHT": {"cmds": "kiosk.toggle_keyboard", "msg": "Toggling Onboard keyboard..."}'
    - '"[Left]_MOUSE_3_CLICK": {"cmds": "kiosk.toggle_keyboard", "msg": "Toggling Onboard keyboard..."}'
    - '"3_TOUCH_1_TAP": {"cmds": "kiosk.toggle_keyboard", "msg": "Toggling Onboard keyboard..."}'
    - '"3_TOUCH_2_TAP": {"cmds": "kiosk.refresh_browser", "msg": "Refresh Browser"}'
    - '"3_TOUCH_3_TAP": {"cmds": "kiosk.toggle_audio", "msg": "Toggle audio mute"}'
    - '"3_TOUCH_4_TAP": {"cmds": "kiosk.screenshot", "msg": "Save screenshot"}'
    - '"3+_TOUCH_1_SWIPE_LEFT": {"cmds": "kiosk.forward", "msg": "Go forward in the history browser"}'
    - '"3+_TOUCH_1_SWIPE_RIGHT": {"cmds": "kiosk.back", "msg": "Go back in the history browser"}'
    - '"2_TOUCH_3_TAP": {"cmds": "kiosk.launch_url", "msg": "Restore default dashboard: HA_URL/HA_DASHBOARD"}'
    - '"2_TOUCH_4_TAP": {"cmds": [["kiosk.launch_url", "www.google.com"]], "msg": "Open Google search"}'
  command_whitelist: "cat|date|dbus-send|echo|false|grep|head|ls|luakit|notify-send|ping|ping6|ps|pstree|sleep|tail|test|top|tree|true|xdotool|xset"
  vnc_server: ""
  debug_mode: false

schema:
  ha_username: str
  ha_password: password
  ha_url: str
  ha_dashboard: str?
  login_delay: float(0,)
  zoom_level: int(10,1000)
  browser_refresh: int(0,)
  screen_timeout: int(0,)
  output_number: int(1,2)
  dark_mode: bool
  ha_theme: str?
  ha_sidebar: list(full|narrow|none)
  rotate_display: list(normal|left|right|inverted)
  map_touch_inputs: bool
  cursor_timeout: int
  keyboard_layout: str
  onscreen_keyboard: bool
  save_onscreen_config: bool
  xorg_conf: str?
  xorg_append_replace: list(append|replace)
  audio_sink: list(auto|hdmi|usb|none)
  rest_ip: str
  rest_port: int(1024,49151)
  rest_bearer_token: password
  gestures:
    - str
  command_whitelist: str
  vnc_server: password
  debug_mode: bool

translations:
  - en

environment:
  DISPLAY: ":0"
